*{
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_dropdown{
  background-color: white;
}

.app_header > h1{
  /* color: red; */
  font-size: 2rem;
}

.app_left{
  flex: 0.9;
}

.app_stats{
  display: flex;
  justify-content: space-between;
}

.app_right{
  display: flex;
  flex-direction: column;
}

.app_right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app_graph{
  flex-grow: 1;
}

.worldwide-cases{
  margin-bottom: 25px;
  margin-top: 25px;
}

@media (max-width: 990px) {
  .app{
    flex-direction: column;
  }
}